body {
	background-color: #fce8dd;
	}
	
.eventposter {
	background: url('flyer.png') #fce8dd no-repeat;
	}
	
.container {
	color: black;
	}
	
.specificheight {
	height: 800px;
	}

.toptic {
	margin: 5px;
	}


